[submodule "X1nput/hidapi"]
	path = X1nput/hidapi
	url = https://github.com/libusb/hidapi
[submodule "X1nput/minhook"]
	path = X1nput/minhook
	url = https://github.com/TsudaKageyu/minhook
[submodule "X1nputConfigurator/Misc/CompactJson"]
	path = X1nputConfigurator/Misc/CompactJson
	url = https://github.com/pupsette/CompactJson
